body::before{
    display: block;
    content: "";
    height: 60px;
    background-color: rgb(37, 37, 37);
}

body{
    font-family: 'Amatic SC', Times, serif;
}

@media(min-width: 768px){
    .news-input{
        width: 45%;
    }
}